@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 222.2 84% 4.9%;
  --foreground: 210 40% 98%;
  --border: 217.2 32.6% 17.5%;
  --primary: 221.2 83.2% 53.3%;
  --primary-foreground: 210 40% 98%;
  --card: 222.2 84% 8%;
  --card-foreground: 210 40% 98%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: white;
  background: #0f172a;
  min-height: 100vh;
}
